@import "../common";
@import "../constants/colors";
@import "../constants/fonts";

.asc::after {
  content: "￪";
}

.desc::after {
  content: "￬";
}

.Queries {
  @include align_flex(row, space-evenly, flex-start, center);

  width: 50%;
  border: 1px dashed $dark_grey;
  padding: 10px 0;
  margin-bottom: 20px;

  @media (max-width: 1100px) {
    width: 75%;
  }

  @media (max-width: 768px) {
    @include align_flex(column, center, center, center);
  }

  @media (max-width: 568px) {
    width: 100%;
  }

  .Filters, .SortBlock {
    @include align_flex(column, center, center, center);

    text-align: center;
    font-size: 18pt;
    font-family: $serif_font;

    @media (max-width: 768px) {
      @include align_flex(row, center, center, center);

      font-size: 14pt;
    }

    select, button {
      height: 40px;
      font-size: 14pt;

      @media (max-width: 768px) {
        font-size: 10pt;
      }
    }
  }

  .Filters {
    .Filter select {
      display: block;
    }

  }

  .Search {
    display: block;
    height: 50px;
  }

  > div, .Search {
    margin: 10px 10px;
  }

  .SortBlock {

  }
}

