@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@100;300');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500&display=swap');

$serif_font: 'Cormorant', serif;
$sans-serif_font: 'Raleway', sans-serif;
