@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');

$sans-serif_font: 'Raleway', sans-serif;
$serif_font: 'Cormorant', serif;
