@import "../constants/colors";
@import "../constants/fonts";
@import "../common";

@mixin profile_photo {
  @include align_flex(auto, center, center);

  min-width: 300px;
  min-height: 300px;

  aspect-ratio: 1;
  border-radius: 50%;
  border: 10px solid $dark_grey;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: $dark_grey;
    color: white;
    font-size: 2.5em;
  }
}

.AboutUsPage {
  width: 100%;

  @include align_flex(column, center, center, auto, center);

  .about-us-briefly {
    width: 100%;
    background-image: linear-gradient(to bottom right, $medium_grey, $dark_grey);
    color: white;
    padding: 10px 200px 70px;

    hr {
      width: 50%;
      margin: auto;
    }

    p {
      font-family: $serif_font;
      font-size: 16pt;
      padding: 20px 0;
      font-weight: 100;
      text-align: justify;
    }
  }

  .our-team {
    @include align_flex(column, center, center);

    width: 60%;
    font-family: $serif_font;

    .team-mate {
      @include align_flex(row, center, center);

      width: 100%;
      margin: 20px 0;

      .photo {
        @include profile_photo;
      }

      .summary {
        margin: 40px;
        width: 100%;

        h2 {
          font-size: 24pt;
        }

        hr {
          color: $dark_grey;
          width: 75%;
          margin-bottom: 30px;
        }

        p {
          font-size: 18pt;
          color: $dark_grey;
        }
      }

      .contacts {
        width: 100px;

        a {
          margin: 20px;
        }
      }
    }
  }

  .MapContainer {
    width: 75%;
    height: 500px;
  }
}
