@import "../constants/colors";
@import "../common";
@import "../cards/PostCardMixins";


.MainPage {
  width: 100%;

  .main-container {
    @include align_flex(column, center, center, center, center);

    width: 100%;

    .LearnMore {
      border-color: $dark_grey;
      margin-top: 20px;
    }

    .recent-posts {
      width: 60%;

      @media (max-width: 1000px) {
        width: 80%;
      }

      .ExtendedPostCard {
        &:nth-child(odd) {
          @include left_post;
        }

        &:nth-child(even) {
          @include right_post;
        }
      }
    }

    .ready-projects{
      @include align_flex(row, center, center, center, center);

      @media (max-width: 1000px) {
        @include align_flex(column, center, center, center, center);

      }
    }

    .project-in-process {
      @include align_flex(row, space-evenly, center, center, center);

      width: 100%;

      .ProjectCard {
        @media (max-width: 576px) {
          width: 200px;
        }
      }

      .DynamicArrows {
        $arrow_size: 30px;
        $smaller_arrow_size: 20px;

        .AngleArrow {
          width: $arrow_size;
          height: $arrow_size;

          @media (max-width: 768px) {
            width: $smaller_arrow_size;
            height: $smaller_arrow_size;
          }
        }
      }
    }
  }
}

