@import "../common";
@import "../constants/fonts";
@import "../constants/colors";

.NewsPage {
  @include align_flex(column, center, center, center, center);

  width: 100%;

  .Feed {
    width: 60%;

    @media (max-width: 1000px) {
      width: 90%;
    }
  }
}
