@import "../common";

.ProjectsPage {
  @include align_flex(column, center, center);

  width: 100vw;

    .Feed {
      max-width: min-content;

      @include grid(3);

      @media (max-width: 1000px) {
        @include grid(2);
      }

      @media (max-width: 700px) {
        @include grid(1);
      }
    }

    .Pagination {
      margin-top: 20px;
    }
}
