@import "../common";
@import "../constants/fonts";
@import "../constants/colors";

.Carousel {
  position: relative;
  overflow: hidden;

  background: #222;

  .scroller {
    height: 100%;
    white-space: nowrap;
    transition: transform 0.3s;
  }

  .indicators {
    @include absolute_horizontally_centered;

    bottom: 40px;
  }
}

.CarouselItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.CarouselIndicator {
  @include round_button(5px, $controls);

  border: none;
  margin: 0 7px;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.active {
  background-color: $transparent;
  border: 1px solid $controls;
}

.CarouselControl {
  @include transparent_button(100pt);
  @include absolute_vertically_centered;

  z-index: 1;
  text-align: center;

  opacity: 0.7;
  font-family: $serif_font;
  text-shadow: 1px 1px 2px black;

  &:hover {
    opacity: 1;
  }
}

$side_margin: 100px;

.left-control {
  left: $side_margin;
}

.right-control {
  right: $side_margin;
}

