@import "../common";
@import "../constants/fonts";

.Carousel {
  position: relative;
  overflow: hidden;

  background: #222;
  color: white;

  .scroller {
    white-space: nowrap;
    transition: transform 0.3s;

  }
}

.CarouselItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.CarouselControl {
  @include transparent_button(100pt);
}

$side_margin: 10px;

.left-control, .right-control {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 1;

  opacity: 70%;
  font-family: $main_font;
  text-shadow: 1px 1px 2px black;
}

.left-control {
  left: $side_margin;
}

.right-control {
  right: $side_margin;
}

//.carousel {
//  .carousel-item {
//    width: 90%;
//    position: relative;
//    img {
//      @include centralize_image;
//
//      width: 90%;
//      height: 100%;
//      object-fit: cover;
//      position: relative;
//    }
//
//    a {
//      position: absolute;
//      margin-left: auto;
//      margin-right: auto;
//      left: 0;
//      right: 0;
//    }
//  }
//
//  //height: 50vh;
//}
