@import "../constants/fonts";
@import "../constants/colors";

.MainCarousel {
  height: 85vh;
}

.MainCarouselItem {
  position: relative;
  color: $controls;

  img {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    p {
      text-align: center;
      inline-size: 60%;
      white-space: normal;

      font-family: $serif_font;
      font-size: 40pt;
      margin-bottom: 40px;
    }

    hr {
      width: 50%;
    }

    .LearnMore {
      margin-top: 10px;
    }
  }
}

