@import "../constants/fonts";

.MainCarouselItem {
  position: relative;
  height: 100%;
  width: 100%;

  img {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    p {
      text-align: center;
      inline-size: 60%;
      white-space: normal;

      font-family: $serif_font;
      font-size: 40pt;
      margin-bottom: 40px;
    }

    hr {
      width: 50%;
    }

    a {
      display: inline-block;
      padding: 15px;
      text-align: center;
      margin-top: 10px;

      background-color: rgba(0, 0, 0, 0.3);
      border: 1px dashed white;
      border-radius: 30px;

      font-family: $sans-serif_font;
      font-size: 12pt;

      &:hover {
        transition: all .1s;
        transform: scale(1.05);
      }
    }
  }
}

