@import "../common";
@import "../constants/colors";
@import "../constants/fonts";

.ExtendedPostCard {
  @include align_flex(column, space-evenly, flex-start, center, left);

  &:nth-child(odd) {
    align-items: flex-start;
  }

  @media (min-width: 576px) {
    &:nth-child(even) {
      align-items: flex-end;

      a {
        padding-right: 20px;
      }
    }
  }


  a {
    @include align_flex(row, flex-start, flex-start);

    margin: 20px 0;
    font-family: $sans_serif_font;
    font-size: 10pt;
    color: $dark_grey;

    &:hover {
      @include scale_smoothly(1.05);
    }

    .DynamicArrows {
      display: inline-block;
      margin-left: 40px;

      .AngleArrow {
        border-width: 1px;
        width: 5px;
        height: 5px;
      }
    }
  }
}
