@import "../common";
@import "../constants/colors";
@import "../constants/fonts";
@import "PostCardMixins";

$picture_width: 300px;
$picture_small_width: 200px;

.PostCard, .NewsCard {
  //Default alignment for posts
  @include left_post;

  border-bottom: 1px dashed $dark_grey;
  width: 100%;

  .LinkedCard {
    height: $picture_width;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    margin: 10px 0;

    @media (max-width: 768px) {
      height: $picture_small_width;
    }
    @media (max-width: 576px) {
      height: min-content;
    }

    &:hover {
      @include scale_smoothly(1.05);
    }

    .picture {
      height: $picture_width;
      width: $picture_width;

      @media (max-width: 768px) {
        height: $picture_small_width;
        width: $picture_small_width;
      }

      @media (max-width: 576px) {
        position: unset;
        display: block;
      }

      object-fit: cover;
      position: absolute;
      background-color: $dark_grey;
      color: white;
    }

    .brief_info {
      @include align_flex(column, space-evenly, flex-start, center, left);

      position: absolute;
      height: 100%;
      width: calc(100% - 300px); //300px = $picture_width !!!
      padding: 10px 0;

      @media (max-width: 768px) {
        width: calc(100% - 200px); //200px = $picture_width !!!
      }

      @media (max-width: 576px) {
        position: unset;
        width: 100%;
        padding-left: 0;
      }

      .date {
        text-align: left;
        color: $medium_grey;
      }

      h2 {
        font-size: 20pt;

        @media (max-width: 768px) {
          font-size: 16pt;
        }

        margin-bottom: 10px;
      }

      .description {
        font-family: $serif_font;
        font-size: 18pt;

        @media (max-width: 768px) {
          font-size: 14pt;
        }
      }
    }
  }
}
