$horizontal_padding: 40px;

@mixin left_post {
  img {
    right: unset;
    left: 0;
  }

  .brief_info {
    @media (min-width: 576px) {
      right: 0;
      padding-left: $horizontal_padding;
      padding-right: 10px;
    }
  }
}

@mixin right_post {
  img {
    left: unset;
    right: 0;
  }

  .brief_info {
    @media (min-width: 576px) {
      left: 0;
      padding-right: $horizontal_padding;
    }
  }
}
