@import "../constants/colors";
@import "../constants/fonts";
@import "../common";


.MainFooter {
  width: 100%;
  margin-top: 30px;
  padding: 50px 150px;

  @media (max-width: 768px) {
    padding: 30px 0;
  }

  background-color: $dark_grey;
  color: white;

  font-size: 14px;
  font-weight: 200;

  .FooterNavigation ul {
    @include horizontal_divided_list(white, 20px);

    @media (max-width: 768px) {
      @include align_flex(column, space-around, center, center, center);

      a {
        text-align: center;
      }

      > .footer-link {
        border: none!important;
        margin: 5px 0;
      }
    }

    font-size: 14px;

    li:hover {
      font-weight: 300;
    }
  }

  .additional {
    @include align_flex(row, space-evenly, center);
    padding-top: 20px;

    .social-media {
      a {
        display: inline-block;
        padding: 10px;

        img {
          width: 25px;

          &:hover {
            @include scale_smoothly(1.1);
          }
        }
      }
    }
  }
}
