@import "../common";
@import "../constants/colors";

.MainHeader {
  @include align_flex(row, space-between, center);
  @include sticky;

  width: 100%;
  height: 100px;

  z-index: 10;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;

  .Logo {
    margin-left: 30px;
  }
}

a.current {
  color: $purple;
  font-weight: bold;
}
