@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fcf;
  border-color: #fcf transparent #fcf transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.popup.hidden {
  display: none;
}

:where(h1, h2) {
  margin: 0;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
  text-align: left;
  padding: 30px 70px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.MainNavigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: normal;
  align-content: normal;
  text-align: left;
  list-style: none;
  font-size: 16pt;
}
.MainNavigation ul a {
  padding: 0 24px 0 12px;
}
.MainNavigation ul li.major-link {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.MainNavigation ul li.major-link:not(.MainNavigation ul li.major-link:last-child)::after {
  content: "|";
  font-size: 1.2em;
  color: #999;
}
.MainNavigation ul li.major-link a:hover {
  color: #9b6ac5;
  font-weight: 500;
}
.MainNavigation ul .dropdown {
  display: inline-block;
  position: relative;
}
.MainNavigation ul .dropdown .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  align-content: normal;
  text-align: left;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.MainNavigation ul .dropdown > a::after {
  content: " ⯆";
  display: inline-block;
  color: #9b6ac5;
}
.MainNavigation ul .dropdown > a:hover:after {
  transition: 1s ease-in-out;
  rotate: 180deg;
}
.MainNavigation ul .dropdown:hover .dropdown-content {
  display: block;
}
.MainNavigation ul .dropdown li {
  padding: 15px 0;
  font-size: 0.85em;
  white-space: nowrap;
}

a.current {
  color: #760fbd;
  font-weight: bold;
}

.popup.hidden {
  display: none;
}

:where(h1, h2) {
  margin: 0;
}

.Carousel {
  position: relative;
  overflow: hidden;
  height: 75vh;
  background: #222;
  color: #fff;
}
.Carousel .scroller {
  height: 100%;
  white-space: nowrap;
  transition: transform 0.3s;
}
.Carousel .indicators {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 30px;
}

.CarouselItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.CarouselIndicator {
  border-radius: 50%;
  background-color: #fff;
  padding: 5px;
  border: none;
  margin: 0 7px;
  opacity: 0.7;
}
.CarouselIndicator:hover {
  opacity: 1;
}

.active {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
}

.CarouselControl {
  border: unset;
  outline: unset;
  background-color: transparent;
  color: white;
  font-size: 100pt;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 1;
  text-align: center;
  opacity: 0.7;
  font-family: "Cormorant", serif;
  text-shadow: 1px 1px 2px black;
}
.CarouselControl:hover {
  opacity: 1;
}

.left-control {
  left: 15px;
}

.right-control {
  right: 15px;
}

.MainCarouselItem {
  position: relative;
  height: 100%;
  width: 100%;
}
.MainCarouselItem img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.MainCarouselItem .info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.MainCarouselItem .info p {
  text-align: center;
  inline-size: 60%;
  white-space: normal;
  font-family: "Cormorant", serif;
  font-size: 40pt;
  margin-bottom: 40px;
}
.MainCarouselItem .info hr {
  width: 50%;
}
.MainCarouselItem .info a {
  display: inline-block;
  padding: 15px;
  text-align: center;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px dashed white;
  border-radius: 30px;
  font-family: "Raleway", sans-serif;
  font-size: 12pt;
}
.MainCarouselItem .info a:hover {
  transition: all 0.1s;
  transform: scale(1.05);
}

body {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-family: "Cormorant", serif;
  font-size: 36pt;
  margin: 70px 0 40px 0;
}

/*# sourceMappingURL=app.css.map */
