@import "pages/MainPage";
@import "pages/AboutUsPage";
@import "pages/PostsPage";
@import "pages/ProjectsPage";

@import "cards/PostCard";
@import "cards/ExtendedPostCard";
@import "cards/ProjectCard";
@import "cards/NewsCard";

@import "UI/MainHeader";
@import "UI/MainFooter";

@import "main";
@import "UI_Elements/Loader";

@import "carousel/Carousel";
@import "carousel/MainCarousel";

@import "UI/BaseFetchingFeed";

@import "UI_Elements/LearnMore";
@import "UI_Elements/DynamicArrows";
@import "UI_Elements/AngleArrow";
@import "UI_Elements/Pagination";


