@import "constants/fonts";
@import "loader";
@import "MainHeader";
@import "carousel/Carousel";
@import "carousel/MainCarousel";
@import "main";
@import "cards/PostCard";
@import "cards/ExtendedPostCard";
@import "cards/ProjectCard";
@import "cards/NewsCard";
@import "BaseFetchingFeed";
@import "LearnMore";
@import "pages/MainPage";
@import "DynamicArrows";
@import "AngleArrow";
@import "pages/AboutUsPage";
@import "MainFooter";
