@import "pages/MainPage";
@import "pages/AboutUsPage";
@import "pages/PostsPage";

@import "cards/PostCard";
@import "cards/ExtendedPostCard";
@import "cards/ProjectCard";
@import "cards/NewsCard";

@import "MainHeader";
@import "MainFooter";

@import "main";
@import "loader";

@import "carousel/Carousel";
@import "carousel/MainCarousel";

@import "BaseFetchingFeed";
@import "LearnMore";

@import "DynamicArrows";
@import "AngleArrow";


