@import "pages/MainPage";
@import "pages/AboutUsPage";
@import "pages/PostsPage";
@import "pages/ProjectsPage";
@import "pages/ProjectsPage";
@import "pages/single_pages/IdNewsPage";
@import "pages/single_pages/IdPostPage";
@import "pages/single_pages/IdProjectPage";

@import "cards/PostCard";
@import "cards/ExtendedPostCard";
@import "cards/ProjectCard";
@import "cards/NewsCard";

@import "UI/MainHeader";
@import "UI/MainFooter";

@import "main";

@import "carousel/Carousel";
@import "carousel/MainCarousel";

@import "UI/BaseFetchingFeed";

@import "UI_Elements/Loader";
@import "UI_Elements/LearnMore";
@import "UI_Elements/DynamicArrows";
@import "UI_Elements/AngleArrow";
@import "UI_Elements/Pagination";

@import "queries/Queries";

@import "navigation/SidebarNavigation";
@import "navigation/InlineNavigation";
