//https://codepen.io/vlt_dev/pen/NWMNzpE

.DynamicArrows  {
  .AngleArrow {
    margin: -10px;
    animation: animate 2s infinite;

    &:nth-child(2) {
      animation-delay: -0.2s;
    }

    &:nth-child(3) {
      animation-delay: -0.4s;
    }
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
