@import "constants/fonts";
@import "constants/colors";
@import "common";

body {
  width: 100%;
  font-family: $sans-serif_font;
  overflow-x: hidden;

  .root {
    width: 100%;

    .App {
      width: 100%;
    }
  }
}

h1 {
  font-family: $serif_font;
  font-size: 36pt;
  font-weight: 300;

  margin: 70px 0 40px 0;
}

.main-hr {
  width: 75%;
  color: $dark_grey;
}
