@import "constants/colors";
@import "constants/fonts";
@import "common";


.MainFooter {
  margin-top: 30px;
  padding: 50px 150px;

  background-color: $dark_grey;
  color: white;

  font-size: 14px;
  font-weight: 200;

  .FooterNavigation ul {
    @include horizontal_divided_list(white, 20px);

    font-size: 14px;

    li:hover {
      font-weight: 300;
    }
  }

  .additional {
    @include align_flex(row, space-evenly, center);
    padding-top: 20px;

    .social-media {
      a {
        display: inline-block;
        padding: 10px;

        img {
          width: 25px;

          &:hover {
            @include scale_smoothly(1.1);
          }
        }
      }
    }
  }
}
