@import "common";
@import "constants/colors";

.MainHeader {
  @include align_flex(row, space-between, center);

  padding: 30px 70px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.MainNavigation > ul {
  @include horizontal_divided_list(#999, 25px, 1px);

  padding-top: 10px;
  font-size: 16pt;

  li.major-link {
    a:hover {
      color: $light_purple;
      font-weight: 500;
    }

    &:has(.dropdown) {
      position: relative;
    }
  }

  .dropdown {
    display: inline-block;

    .dropdown-content {
      @include align_flex(column, center);

      display: none;
      position: absolute;
      left: 0;
      background-color: #f1f1f1;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      z-index: 1;

      a {
        padding: 0 24px 0 12px;
      }
    }

    > a::after {
      content: " ⯆";
      display: inline-block;
      color: $light_purple;

    }

    > a:hover {
      &:after {
        transition: 1s ease-in-out;
        rotate: 180deg;
      }
    }

    &:hover .dropdown-content {
      display: block;
    }

    li {
      padding: 15px 0;
      font-size: 0.85em;
      white-space: nowrap;
    }
  }
}

a.current {
  color: $purple;
  font-weight: bold;
}
